<p>searching-tools works!</p>
<input type="text" #countrySearch />
<button (click)="onSearchQueryChange()">Search</button>
<button (click)="onResetFilters()">Reset filters</button>

<pre>{{ dataOfContinents | json }}</pre>

<div>
  <div
    class="card"
    *ngFor="let dataOfContinent of dataOfContinents; index as i"
    [ngClass]="{
      selected: dataOfContinent.selected
    }"
    (click)="onDataOfContinentsChange(i)"
  >
    <h2>{{ dataOfContinent.name }}</h2>
    <p>{{ dataOfContinent.selected ? "Selected" : "Not selected" }}</p>
  </div>
</div>
