$light-gray: rgba(230, 230, 230, 1);
$burgundy: rgba(128, 0, 32, 1);
$jungle-green: rgb(41, 171, 135);
$tropical-green: rgb(0, 117, 94);
$medium-gray: rgba(180, 180, 180, 1);

.searching-tools {
  position: relative;
  display: grid;
  place-content: center;
}

.card {
  padding: 6px 12px;
  border: solid 2px gray;
  cursor: pointer;
  &.selected {
    border: solid 2px rgba(0, 0, 255, 1);
    box-shadow: 4px 5px 2px 3px rgba(0, 0, 255, 0.2);
  }
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  .card {
    flex: 1 1 250px;
    max-width: 250px;
  }
  &-wrapper {
    background-color: $light-gray;
    position: absolute;
    top: 115px;
    left: 30px;
    right: 30px;
    border-radius: 10px;
    display: grid;
    gap: 15px;
    padding: 10px 15px;
    z-index: 4;
    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

.main-controls {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 20px;
  background-color: $medium-gray;
  padding: 25px 35px;
  border-radius: 1000000000px;
  .form-control {
    position: relative;
    display: grid;
    row-gap: 4px;
    label {
      font-size: 25px;
      font-weight: 700;
    }
    input {
      border: none;
      font-size: 15px;
      background-color: transparent;
      &:focus {
        border: none;
        outline: none;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 4px;
      width: 85%;
      background-color: $light-gray;
    }
  }
}

.button__container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.button__search,
.button__reset {
  padding: 6px 14px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.button__search {
  background-color: ($jungle-green);
  &:hover {
    background-color: ($tropical-green);
    color: white;
  }
}

.button__reset {
  background-color: red;
  color: white;
  &:hover {
    background-color: $burgundy;
  }
}
