<div
  class="country-card"
  (click)="onCountryCardClick(dataOfCountry.code)"
  [ngClass]="{ selected: isSelected }"
>
  <div class="country-card-header">
    <div class="logo-container">{{ dataOfCountry.emoji }}</div>
    <section class="information">
      <h3>{{ dataOfCountry.name }}</h3>
      <p>{{ dataOfCountry.continent.name }}</p>
    </section>
  </div>
  <div *ngIf="hasExtendedVersion" class="country-card-body">
    <h3>Capital: {{ dataOfCountry.capital }}</h3>
    <h3>
      Language:
      {{ dataOfCountry.languages | languages }}
    </h3>
    <h3>Currency: {{ dataOfCountry.currencies.join(", ") }}</h3>
    <div
      class="regions-container-wrapper"
      *ngIf="dataOfCountry.states.length > 0"
    >
      <h3>Region</h3>
      <div class="regions-container">
        <p *ngFor="let region of dataOfCountry.states">
          {{ region.name }}
        </p>
      </div>
    </div>
  </div>
  <div
    *ngIf="hasExtendedVersion"
    class="close-icon"
    (click)="onCloseExtendedCard()"
  >
    X
  </div>
</div>
