$border-radius: 20px;
$selected-background-color: rgb(125, 125, 125);

.country-card {
  padding: 10px 15px;
  border: solid 2px black;
  border-radius: $border-radius;
  &-header {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    .logo-container {
      font-size: 30px;
    }
  }
  &.selected {
    background-color: $selected-background-color;
  }
}

.regions-container {
  overflow-y: auto;
  max-height: 120px;
}
