$medium-gray: rgba(180, 180, 180, 1);
$dark-gray: rgb(80, 80, 80);

nav {
  z-index: 100;
  width: 100%;
  display: grid;
  gap: 25px;
  background-color: $dark-gray;
  padding: 15px 15px;

  .logo-container {
    padding: 10px 20px;
    max-height: 80px;
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 32px;
  }

  .navigation-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    &.mobile {
      flex-direction: row;
    }
    a {
      align-self: flex-start;
      padding: 5px 14px;
      color: white;
      &.active {
        background-color: white;
        color: $medium-gray;
      }
    }
  }
}

@media screen and (min-width: 678px) {
  nav {
    gap: 25px;
    height: 100vh;
  }
}
