<app-searching-tools
  (querySearch)="retrieveDataOfCountries($event)"
></app-searching-tools>
<div
  *ngIf="dataOfCountries$ | async as dataOfCountries"
  class="country-cards-component"
>
  {{ dataOfCountries.data["countries"] | json }}
  <div
    class="country-card-wrapper"
    *ngFor="let dataOfCountry of dataOfCountries.data['countries']"
  >
    <app-country-card
      [dataOfCountry]="dataOfCountry"
      (countryCardClick)="onCountryCardClickHandle($event)"
      [isSelected]="dataOfCountry.code === previousSelectedCountryCode"
    ></app-country-card>
  </div>
</div>
<div
  *ngIf="isCountrySelected && (dataOfCountryById$ | async) as dataOfCountryById"
>
  {{ dataOfCountryById | json }}
  <app-country-card
    [dataOfCountry]="dataOfCountryById.data['country']"
    [hasExtendedVersion]="true"
    (closeExtendedCard)="onCloseExtendedCard()"
  ></app-country-card>
</div>
