$border-radius: 20px;

.results-container {
  display: flex;
  row-gap: 20px;
  column-gap: 25px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 30px;
}

.country-cards-component {
  flex: 1 1 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  max-height: 82vh;
  overflow-y: auto;
  .country-card-wrapper {
    flex: 1 1 300px;
    max-width: 400px;
  }
}

.extended-card-wrapper {
  flex: 1 1 300px;
  max-width: 450px;
}

@media screen and (min-width: 678px) {
  .results-container {
    padding: 20px 110px;
  }
}
